
.filters {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters .locations {
    text-align: center;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.filters .amenities {
    text-align: center;
    height: 100%;
    width: 25%; 
}

.filters .popover {
    display: none;
    background-color: #fafafa;
    border: #DDDDDD 1px solid;
    border-radius: 4px;

}

.amenities:hover .popover {
    display: block;
    list-style-type: none;
}

.locations:hover .popover {
    display: block;
    list-style-type: none;
}

.filters button {
    position: absolute;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    right: 30px;
    align-self: center;
    border-radius: 4px;
}

.filters button:hover {
    opacity: 90%;
}


h3 {
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
}

h2 {
    font-size: 16px;
}