.places h1 {
    font-size: 30px;
}

div .arts{
    display: block;
    text-align: center;
}
.places article {
    display: inline-block;
    width: 390px;
    padding: 10px;
    margin: 10px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

.places article h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}